#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: #343537; /* Default bullet color */
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #ce9233; 
  opacity: 1;
  scale: 1.2;
}

.swiper-pagination {
  bottom: 20px !important; /* Adjust position if needed */
}
